# This script is an edited version of the example found at
# https://git.ligo.org/lscsoft/example-ci-project/blob/python/.gitlab-ci.yml
# Each 0th-indendation level is a job that will be run within GitLab CI
# The only exception are a short list of reserved keywords
#
# https://docs.gitlab.com/ee/ci/yaml/#gitlab-ci-yml

# stages is a reserved keyword that defines job dependencies and
# parallelization. each stage runs in parallel but must complete
# before the next stage begins
# This file was copied from bilby_pipe

stages:
  - initial
  - documentation
  - deploy

.basic-python: &basic-python
  stage: initial
  image: python
  before_script:
    - pip install --upgrade pip
  script:
    - pip install --ignore-installed .
    - cd ..
    - python -c "import popstock"
    - python -c "import popstock.PopulationOmegaGW"
    - python -c "import popstock.constants"
    - python -c "import popstock.util"
    - for script in $(pip show -f popstock | grep "bin\/" | xargs -I {} basename {}); do
          ${script} --help;
      done

basic-3.9:
  <<: *basic-python
  image: python:3.9

basic-3.10:
  <<: *basic-python
  image: python:3.10


.precommits-python: &precommits-python
  stage: initial
  image: python
  script:
    - pip install --upgrade pip
    - pip install .
    - pip install pre-commit

    # Run precommits (black, flake8, spellcheck, isort, no merge conflicts, etc)
    - pre-commit run --files popstock/*.py --verbose --show-diff-on-failure
      #- pre-commit run --files test/*.py --verbose --show-diff-on-failure
      #- pre-commit run --files tutorials/*.py --verbose --show-diff-on-failure
    - pre-commit run --files *.py --verbose --show-diff-on-failure

precommits-py3.9:
  <<: *precommits-python
  image: python:3.9

documentation:
  stage: documentation
  image: python:3.9
  before_script:
    - apt-get -yqq update
    - apt-get -yqq install pandoc
    - pip install --upgrade pip setuptools
    - pip install ipykernel ipython==8.12.0 jupyter
    - pip install sphinx numpydoc nbsphinx sphinx_rtd_theme sphinx-tabs autodoc ipython-genutils
    - pip install .

  script:
    - cd docs
    - make clean
    - make html
    - cd -

  artifacts:
    paths:
      - docs/_build

pages:
  stage: deploy
  dependencies:
    - documentation
  script:
    - mkdir public/
    - mv docs/_build/html/* public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
  - main

# mirror-to-github:
#   stage: deploy
#   image: debian:bullseye
#   before_script:
#     - apt-get update && apt-get install -y git curl git-lfs openssh-client
#     #- git lfs install
#     - git lfs update --force

#     # Set up SSH key for GitHub access
#     - mkdir -p ~/.ssh
#     - echo "$GITHUB_SSH_KEY" > ~/.ssh/id_rsa
#     - cp "$GITHUB_SSH_KEY" ~/.ssh/id_rsa
#     - chmod 600 ~/.ssh/id_rsa

#     # Confirm file format (without printing key contents)
#     - head -n 1 ~/.ssh/id_rsa | grep -q "BEGIN" || (echo "âŒ SSH key appears invalid or misformatted" && exit 1)

#     # Add GitHub to known hosts
#     - ssh-keyscan github.com >> ~/.ssh/known_hosts

#     # Optional: debug SSH connection (safe; doesn't leak key)
#     - ssh -i ~/.ssh/id_rsa -T git@github.com || true

#     # Configure git
#     - git config --global user.name "GitLab CI"
#     - git config --global user.email "ci@example.com"

#   script:
#     - git remote add github git@github.com:a-renzini/popstock.git
#     - git push --mirror github
#     - git lfs push --all github

#   only:
#     - main

